<ul class="nav nav-tabs">
    <li id="spendingTab" class="active"><a href="#">Spending</a></li>
    <li id="categoriesTab"><a href="#">Categories</a></li>
    <li id="transactionsTab"><a href="#">Transactions</a></li>
    <li id ="accountTab"><a href="#">Account</a></li>
</ul>
<div id="spendingTabContent" class="tab-content">
    <p>This tab is not implemented right now, come back later!</p>
</div>
<div id="categoriesTabContent" class="tab-content hidden">
    <p>This tab is not implemented right now, come back later!</p>
</div>
<div id="transactionsTabContent" class="tab-content hidden">
    <script id="transaction-template" type="text/template">
        <input id="triggerSelect" type="checkbox" <%= checked ? 'checked="checked"' : '' %> />
        <!-- TODO: provide autocomplete list of previous payees -->
        <td><label class="view"><%- PayeeName %></label><input id="payeeNameInput" class="edit" type="text" value="<%- PayeeName %>" /></td>
        <!-- TODO: validate amount -->
        <td><label class="view"><%- Amount %></label><input id="amountInput" class="edit" type="text" value="<%- Amount %>" /></td>
        <td><label class="view"><%- TransactionDate %></label><input id="transactionDateInput" class="edit" type="datetime" value="<%- TransactionDate %>" /></td>
        <!-- TODO: make this an option list -->
        <td><label class="view"><%- CategoryName %></label><input id="categoryNameInput" class="edit" type="text" value="<%- CategoryName %>" /></td>
        <td><a id="triggerEdit" class="view" href="#">Edit</a><a id="triggerSave" class="edit" href="#">Save</a></td>
    </script>
    <p id="transactionsLoadingIndicator">Loading...</p>
    <table id="transactionsTable" class="table-striped hidden">
        <thead>
            <tr>
                <th><input id="selectAllCheckbox" type="checkbox" /></th>
                <th>Payee</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="transactionsTableBody"></tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <button id="addButton">Add Transaction</button>
                    <button id="deleteButton">Delete Selected</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="accountTabContent" class="tab-content hidden">
    <script id="user-template" type="text/template">
        <div>
            <label class="userInput firstName">First Name</label>
            <label class="userInput middleInitial">MI</label>
            <label class="userInput">Last Name</label>
        </div>
        <div>
            <input class="userInput firstName" type="text" value="<%- FirstName %>" />
            <input class="userInput middleInitial" type="text" value="<%- MiddleInitial %>" />
            <input class="userInput" type="text" value="<%- LastName %>" />
        </div>
        <div>
            <label>Email Address:</label>
            <input class="userInput" value="<%- EmailAddress %>" />
        </div>
        <!-- TODO: add password changing -->
    </script>
    <p id="accountLoadingIndicator">Loading...</p>
</div>
<!-- START debug -->
<br />
<br />
<div>
    Last fetch status: <span id="lastFetchStatus">No fetch</span>
    <p id="lastFetchError"></p>
</div>
<!-- END debug -->
<!-- TODO: figure out why require.js isn't working and also why it kills debugging -->
<!-- <script data-main="Scripts/Model.js" src="~/Scripts/Require.js"></script> -->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/Model.js"></script>